<div class="container-sm">


<td> <button type="button" class="btn btn-dark">Agregar</button> </td>

<table class="table table-sm">
  <caption>List de variedades</caption>
    <thead>
      <tr class="table-header">
        <th scope="col">id</th>
        <th scope="col">descripcion</th>
        <th scope="col">longitud</th>
        <th scope="col">cant_rama</th>
        <th scope="col">cant_malla</th>
        <th scope="col">dias_util</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>